---
---

@import "https://retail.momentum.co.za/assets/fonts/701783/69A23A8FA0BED4DF3.css";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. */
@import "https://retail.momentum.co.za/assets/fonts/701783/69A23A8FA0BED4DF3.css";
html { -webkit-text-size-adjust: 100%; /* 2 */ }

*, *::after, *::before { box-sizing: border-box; }

/* Sections ========================================================================== */
/** Remove the margin in all browsers. */
body { margin: 0; }

/** Render the `main` element consistently in IE. */
main { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
/* Grouping content ========================================================================== */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; text-decoration: none; }
.card-body a:hover .card-title { color: #ff3b30; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Misc ========================================================================== */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

/* -------------------------------- 

Typography
https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd

-------------------------------- */
/* -------------------------------- 

Colors
https://medium.com/codyhouse/create-your-design-system-part-3-colors-798e4729921f

-------------------------------- */
:root { /* main colors */ --color-primary: #286bf4; --color-primary-light: color-mod(var(--color-primary) shade(15%)); --color-primary-dark: color-mod(var(--color-primary) shade(15%)); --color-primary-bg: color-mod(var(--color-primary) alpha(20%)); --color-secondary: #ff3b30; --color-secondary-light: color-mod(var(--color-secondary) tint(15%)); --color-secondary-dark: color-mod(var(--color-secondary) shade(10%)); --color-secondary-bg: color-mod(var(--color-secondary) alpha(20%)); /* shades - generated using chroma.js - 12 steps */ --black: #1d1d21; --gray-10: #2e2e31; --gray-6: #7b7a7d; --gray-4: #a5a5a6; --gray-3: #bbbbbc; --gray-2: #d1d0d2; --gray-1: #e8e7e8; --off-white: #f9f9f9; --white: white; /* buttons */ --btn-primary-bg: var(--color-primary); --btn-primary-hover: var(--color-primary-light); --btn-primary-active: var(--color-primary-dark); --btn-primary-label: var(--white); --btn-secondary-bg: var(--color-secondary); --btn-secondary-hover: var(--color-secondary-light); --btn-secondary-active: var(--color-secondary-dark); --btn-secondary-label: var(--white); --btn-disabled-bg: var(--gray-2); --btn-disabled-label: var(--gray-10); /* feedback */ --color-success: #88c459; --color-error: #f5414f; --color-warning: #ffd137; /* typography */ --color-text: var(--gray-10); --color-text-heading: var(--black); --color-text-subtle: var(--gray-6); --color-link: var(--color-primary); --color-link-visited: var(--color-primary-dark); --color-mark: var(--color-secondary-bg); --color-blockquote-border: var(--gray-2); /* border */ --color-border: var(--gray-2); /* body */ --color-body: var(--white); /* forms */ --form-element-border: var(--color-border); --form-element-border-focus: var(--color-primary); --form-element-border-error: var(--color-error); --form-element-bg: var(--white); --form-text-placeholder: var(--gray-4); /* icons */ --color-icon-primary: var(--gray-4); --color-icon-secondary: inherit; }

body { color: var(--color-text); background: var(--off-white); }

h1, h2, h3, h4, form legend { color: var(--color-text-heading); }

a { color: var(--color-link); }

a:visited { color: var(--color-link-visited); }

.primary { background: var(--color-primary); }

.primary-light { background: var(--btn-primary-hover); }

.primary-dark { background: var(--color-primary-dark); }

.primary-bg { background: var(--color-primary-bg); }

.secondary { background: var(--color-secondary); }

.secondary-light { background: var(--color-secondary-light); }

.secondary-dark { background: var(--color-secondary-dark); }

.secondary-bg { background: var(--color-secondary-bg); }

/* -------------------------------- 

Spacing
https://medium.com/codyhouse/create-your-design-system-part-4-spacing-895c9213e2b9

-------------------------------- */
:root { /* spacing values */ --space-unit: 1em; --space-xxs:  calc(0.25 * var(--space-unit)); --space-xs:   calc(0.5 * var(--space-unit)); --space-sm:   calc(0.75 * var(--space-unit)); --space-md:   calc(1.25 * var(--space-unit)); --space-lg:   calc(2 * var(--space-unit)); --space-xl:   calc(3.25 * var(--space-unit)); --space-xxl:  calc(5.25 * var(--space-unit)); /* fixed values - not affected by --space-unit or --text-base-size */ --space-unit-fixed: 1rem; --space-xxs-fixed:  calc(0.25 * var(--space-unit-fixed)); --space-xs-fixed:   calc(0.5 * var(--space-unit-fixed)); --space-sm-fixed:   calc(0.75 * var(--space-unit-fixed)); --space-md-fixed:   calc(1.25 * var(--space-unit-fixed)); --space-lg-fixed:   calc(2 * var(--space-unit-fixed)); --space-xl-fixed:   calc(3.25 * var(--space-unit-fixed)); --space-xxl-fixed:  calc(5.25 * var(--space-unit-fixed)); /* components padding */ --component-padding: var(--space-sm); }

@media (min-width: 1024px) { :root { --space-unit: 1.25em; --component-padding: var(--space-md); } }

/* vertical margins */
.margin-top, .margin-top--md { margin-top: var(--space-md); }

.margin-top--sm { margin-top: var(--space-sm); }

.margin-top--lg { margin-top: var(--space-lg); }

.margin-top--xl { margin-top: var(--space-xl); }

.margin-top--xxl { margin-top: var(--space-xxl); }

.margin-bottom, .margin-bottom--md { margin-bottom: var(--space-md); }

.margin-bottom--sm { margin-bottom: var(--space-sm); }

.margin-bottom--lg { margin-bottom: var(--space-lg); }

.margin-bottom--xl { margin-bottom: var(--space-xl); }

.margin-bottom--xxl { margin-bottom: var(--space-xxl); }

@media (min-width: 1024px) { .margin-top, .margin-top--md { margin-top: var(--space-lg); }
  .margin-top--sm { margin-top: var(--space-md); }
  .margin-top--lg { margin-top: var(--space-xl); }
  .margin-top--xl { margin-top: var(--space-xxl); }
  .margin-top--xxl { margin-top: var(--space-xxxl); }
  .margin-bottom, .margin-bottom--md { margin-bottom: var(--space-lg); }
  .margin-bottom--sm { margin-bottom: var(--space-md); }
  .margin-bottom--lg { margin-bottom: var(--space-xl); }
  .margin-bottom--xl { margin-bottom: var(--space-xxl); }
  .margin-bottom--xxl { margin-bottom: var(--space-xxxl); } }

p { margin-bottom: var(--space-sm); }

:root { --font-primary: "Whitney SSm A", "Whitney SSm B", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; --font-secondary: serif; /* set base values */ --text-base-size: 1em; --text-scale-ratio: 1.3; /* type scale */ --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio))); --text-sm: calc(1em / var(--text-scale-ratio)); --text-md: calc(1em * var(--text-scale-ratio)); --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio)); --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)); --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)); --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)); /* line-height */ --heading-line-height: 1.25; --body-line-height: 1.4; }

@media (min-width: 1024px) { :root { --text-base-size: 1.15em; --text-scale-ratio: 1.3; } }

body { font-size: var(--text-base-size); font-family: var(--font-primary); color: var(--color-text); }

h1, h2, h3, h4, form legend { color: var(--color-text-heading); margin-top: 0; margin-bottom: 2rem; line-height: var(--heading-line-height); font-weight: 600; }

/* text size */
.text--xxxl { font-size: var(--text-xxxl); }

h1, .text--xxl { font-size: var(--text-xxl); }

h2, .text--xl { font-size: var(--text-xl); }

h3, .text--lg { font-size: var(--text-lg); }

h4, .text--md { font-size: var(--text-md); }

.text--sm, small { font-size: var(--text-sm); }

.text--xs { font-size: var(--text-xs); }

p { line-height: var(--body-line-height); }

a { color: var(--color-link); }

a:visited { color: var(--color-link-visited); }

b, strong { font-weight: bold; }

.text-container h2, .text-container h3, .text-container h4 { margin-top: var(--space-sm); }

.text-container ul, .text-container ol, .text-container p { margin-bottom: var(--space-md); }

.text-container ul, .text-container ol { list-style-position: outside; padding-left: 24px; }

.text-container ul { list-style-type: disc; }

.text-container ol { list-style-type: decimal; }

.text-container ul li, .text-container ol li { line-height: var(--body-line-height); }

.text-container em { font-style: italic; }

.text-container u { text-decoration: underline; }

.meta { font-size: 15px; }

.sec-heading { color: rgba(0, 0, 0, 0.6); margin-bottom: 16px; }

.text--lead { font-size: 18px; text-align: center; font-style: italic; }

@media (min-width: 1024px) { .text--lead { font-size: 31px; } }

/* utility classes */
.truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* -------------------------------- 

Buttons
https://medium.com/codyhouse/create-your-design-system-part-6-buttons-58e2eda2173e

-------------------------------- */
:root { --btn-font-size: 1em; --btn-sm: calc(var(--btn-font-size) - 0.2em); --btn-md: calc(var(--btn-font-size) + 0.2em); --btn-lg: calc(var(--btn-font-size) + 0.4em); --btn-radius: 4px; }

.btn { display: inline-flex; position: relative; white-space: nowrap; text-decoration: none; line-height: 1; padding: var(--space-xs) var(--space-sm); border-radius: var(--btn-radius); font-size: var(--btn-font-size); color: var(--color-link); transition: .2s; cursor: pointer; }

.btn:active { transition: none; }

.btn .icon { /* icon inherits color of button label */ color: inherit; flex-shrink: 0; }

/* themes */
.btn--primary { background-color: var(--btn-primary-bg); color: var(--btn-primary-label); }

.btn--primary:visited { color: var(--btn-primary-label); }

.btn--primary:hover { background-color: var(--btn-primary-hover); }

.btn--primary:active { background-color: var(--btn-primary-active); }

.btn--secondary { background-color: var(--btn-secondary-bg); color: var(--btn-secondary-label); border-color: transparent; }

.btn--secondary:visited { color: var(--btn-secondary-label); }

.btn--secondary:hover { background-color: var(--color-error); }

.btn--secondary:active { background-color: var(--btn-secondary-active); }

/* feedback */
.btn[disabled] { cursor: not-allowed; background-color: var(--btn-disabled-bg); color: var(--btn-disabled-label); box-shadow: none; opacity: 0.6; }

.btn[disabled]:visited { color: var(--btn-disabled-label); }

/* button size */
.btn--sm { font-size: var(--btn-sm); }

.btn--md { font-size: var(--btn-md); }

.btn--lg { font-size: var(--btn-lg); }

.btn--full-width { display: flex; width: 100%; justify-content: center; }

/* buttons group */
.btns { display: flex; flex-wrap: wrap; margin-bottom: calc(-1 * var(--space-xs)); }

.btns > * { margin-right: var(--space-xs); margin-bottom: var(--space-xs); }

.btns > *:last-of-type { margin-right: 0; }

/* -------------------------------- 

Grid
https://medium.com/codyhouse/create-your-design-system-part-2-grid-layout-aa961d59b8d6

-------------------------------- */
@supports (grid-area: auto) { .grid, #main, .color-grid { display: grid; grid-column-gap: 10px; grid-row-gap: 10px; } }

@supports (grid-area: auto) { .grid, #main, .color-grid { grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); } }

#main { grid-template-columns: none; padding: var(--space-lg-fixed); }

@supports (grid-area: auto) { .color-grid { grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); } }

/* -------------------------------- 

Flex Grid
https://medium.com/codyhouse/create-your-design-system-part-2-grid-layout-aa961d59b8d6

-------------------------------- */
.flex-grid { display: flex; flex-wrap: wrap; }

.col--1 { flex-basis: 8.33%; max-width: 8.33%; }

.col--2 { flex-basis: 16.66%; max-width: 16.66%; }

.col--3 { flex-basis: 25%; max-width: 25%; }

.col--4 { flex-basis: 33.33%; max-width: 33.33%; }

.col--5 { flex-basis: 41.66%; max-width: 41.66%; }

.col--6 { flex-basis: 50%; max-width: 50%; }

.col--7 { flex-basis: 58.33%; max-width: 58.33%; }

.col--8 { flex-basis: 66.66%; max-width: 66.66%; }

.col--9 { flex-basis: 75%; max-width: 75%; }

.col--10 { flex-basis: 83.33%; max-width: 83.33%; }

.col--11 { flex-basis: 91.66%; max-width: 91.66%; }

.col--12 { flex-basis: 100%; max-width: 100%; }

@media only screen and (min-width: 600px) { .col--md-1 { flex-basis: 8.33%; max-width: 8.33%; }
  .col--md-2 { flex-basis: 16.66%; max-width: 16.66%; }
  .col--md-3 { flex-basis: 25%; max-width: 25%; }
  .col--md-4 { flex-basis: 33.33%; max-width: 33.33%; }
  .col--md-5 { flex-basis: 41.66%; max-width: 41.66%; }
  .col--md-6 { flex-basis: 50%; max-width: 50%; }
  .col--md-7 { flex-basis: 58.33%; max-width: 58.33%; }
  .col--md-8 { flex-basis: 66.66%; max-width: 66.66%; }
  .col--md-9 { flex-basis: 75%; max-width: 75%; }
  .col--md-10 { flex-basis: 83.33%; max-width: 83.33%; }
  .col--md-11 { flex-basis: 91.66%; max-width: 91.66%; }
  .col--md-12 { flex-basis: 100%; max-width: 100%; } }

/* -------------------------------- 

Spacing
https://medium.com/codyhouse/create-your-design-system-part-4-spacing-895c9213e2b9

-------------------------------- */
:root { /* spacing values */ --space-unit: 1em; --space-xxs:  calc(0.25 * var(--space-unit)); --space-xs:   calc(0.5 * var(--space-unit)); --space-sm:   calc(0.75 * var(--space-unit)); --space-md:   calc(1.25 * var(--space-unit)); --space-lg:   calc(2 * var(--space-unit)); --space-xl:   calc(3.25 * var(--space-unit)); --space-xxl:  calc(5.25 * var(--space-unit)); /* fixed values - not affected by --space-unit or --text-base-size */ --space-unit-fixed: 1rem; --space-xxs-fixed:  calc(0.25 * var(--space-unit-fixed)); --space-xs-fixed:   calc(0.5 * var(--space-unit-fixed)); --space-sm-fixed:   calc(0.75 * var(--space-unit-fixed)); --space-md-fixed:   calc(1.25 * var(--space-unit-fixed)); --space-lg-fixed:   calc(2 * var(--space-unit-fixed)); --space-xl-fixed:   calc(3.25 * var(--space-unit-fixed)); --space-xxl-fixed:  calc(5.25 * var(--space-unit-fixed)); /* components padding */ --component-padding: var(--space-sm); }

@media (min-width: 1024px) { :root { --space-unit: 1.25em; --component-padding: var(--space-md); } }

/* vertical margins */
.margin-top, .margin-top--md { margin-top: var(--space-md); }

.margin-top--sm { margin-top: var(--space-sm); }

.margin-top--lg { margin-top: var(--space-lg); }

.margin-top--xl { margin-top: var(--space-xl); }

.margin-top--xxl { margin-top: var(--space-xxl); }

.margin-bottom, .margin-bottom--md { margin-bottom: var(--space-md); }

.margin-bottom--sm { margin-bottom: var(--space-sm); }

.margin-bottom--lg { margin-bottom: var(--space-lg); }

.margin-bottom--xl { margin-bottom: var(--space-xl); }

.margin-bottom--xxl { margin-bottom: var(--space-xxl); }

@media (min-width: 1024px) { .margin-top, .margin-top--md { margin-top: var(--space-lg); }
  .margin-top--sm { margin-top: var(--space-md); }
  .margin-top--lg { margin-top: var(--space-xl); }
  .margin-top--xl { margin-top: var(--space-xxl); }
  .margin-top--xxl { margin-top: var(--space-xxxl); }
  .margin-bottom, .margin-bottom--md { margin-bottom: var(--space-lg); }
  .margin-bottom--sm { margin-bottom: var(--space-md); }
  .margin-bottom--lg { margin-bottom: var(--space-xl); }
  .margin-bottom--xl { margin-bottom: var(--space-xxl); }
  .margin-bottom--xxl { margin-bottom: var(--space-xxxl); } }

p { margin-bottom: var(--space-sm); }

/* -------------------------------- 

Colors
https://medium.com/codyhouse/create-your-design-system-part-3-colors-798e4729921f

-------------------------------- */
:root { /* main colors */ --color-primary: #286bf4; --color-primary-light: color-mod(var(--color-primary) shade(15%)); --color-primary-dark: color-mod(var(--color-primary) shade(15%)); --color-primary-bg: color-mod(var(--color-primary) alpha(20%)); --color-secondary: #ff3b30; --color-secondary-light: color-mod(var(--color-secondary) tint(15%)); --color-secondary-dark: color-mod(var(--color-secondary) shade(10%)); --color-secondary-bg: color-mod(var(--color-secondary) alpha(20%)); /* shades - generated using chroma.js - 12 steps */ --black: #1d1d21; --gray-10: #2e2e31; --gray-6: #7b7a7d; --gray-4: #a5a5a6; --gray-3: #bbbbbc; --gray-2: #d1d0d2; --gray-1: #e8e7e8; --off-white: #f9f9f9; --white: white; /* buttons */ --btn-primary-bg: var(--color-primary); --btn-primary-hover: var(--color-primary-light); --btn-primary-active: var(--color-primary-dark); --btn-primary-label: var(--white); --btn-secondary-bg: var(--color-secondary); --btn-secondary-hover: var(--color-secondary-light); --btn-secondary-active: var(--color-secondary-dark); --btn-secondary-label: var(--white); --btn-disabled-bg: var(--gray-2); --btn-disabled-label: var(--gray-10); /* feedback */ --color-success: #88c459; --color-error: #f5414f; --color-warning: #ffd137; /* typography */ --color-text: var(--gray-10); --color-text-heading: var(--black); --color-text-subtle: var(--gray-6); --color-link: var(--color-primary); --color-link-visited: var(--color-primary-dark); --color-mark: var(--color-secondary-bg); --color-blockquote-border: var(--gray-2); /* border */ --color-border: var(--gray-2); /* body */ --color-body: var(--white); /* forms */ --form-element-border: var(--color-border); --form-element-border-focus: var(--color-primary); --form-element-border-error: var(--color-error); --form-element-bg: var(--white); --form-text-placeholder: var(--gray-4); /* icons */ --color-icon-primary: var(--gray-4); --color-icon-secondary: inherit; }

body { color: var(--color-text); background: var(--off-white); }

h1, h2, h3, h4, form legend { color: var(--color-text-heading); }

a { color: var(--color-link); }

a:visited { color: var(--color-link-visited); }

.primary { background: var(--color-primary); }

.primary-light { background: var(--btn-primary-hover); }

.primary-dark { background: var(--color-primary-dark); }

.primary-bg { background: var(--color-primary-bg); }

.secondary { background: var(--color-secondary); }

.secondary-light { background: var(--color-secondary-light); }

.secondary-dark { background: var(--color-secondary-dark); }

.secondary-bg { background: var(--color-secondary-bg); }

.container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

@media (min-width: 576px) { .container { max-width: 540px; } }

@media (min-width: 768px) { .container { max-width: 720px; } }

@media (min-width: 992px) { .container { max-width: 960px; } }

@media (min-width: 1200px) { .container { max-width: 1140px; } }

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

@media (min-width: 576px) { .container, .container-sm { max-width: 540px; } }

@media (min-width: 768px) { .container, .container-sm, .container-md { max-width: 720px; } }

@media (min-width: 992px) { .container, .container-sm, .container-md, .container-lg { max-width: 960px; } }

@media (min-width: 1200px) { .container, .container-sm, .container-md, .container-lg, .container-xl { max-width: 1140px; } }

.row { display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }

.no-gutters { margin-right: 0; margin-left: 0; }

.no-gutters > .col, .no-gutters > [class*="col-"] { padding-right: 0; padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto { position: relative; width: 100%; padding-right: 15px; padding-left: 15px; }

.col { flex-basis: 0; flex-grow: 1; max-width: 100%; }

.row-cols-1 > * { flex: 0 0 100%; max-width: 100%; }

.row-cols-2 > * { flex: 0 0 50%; max-width: 50%; }

.row-cols-3 > * { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }

.row-cols-4 > * { flex: 0 0 25%; max-width: 25%; }

.row-cols-5 > * { flex: 0 0 20%; max-width: 20%; }

.row-cols-6 > * { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }

.col-auto { flex: 0 0 auto; width: auto; max-width: 100%; }

.col-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }

.col-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }

.col-3 { flex: 0 0 25%; max-width: 25%; }

.col-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }

.col-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }

.col-6 { flex: 0 0 50%; max-width: 50%; }

.col-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }

.col-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }

.col-9 { flex: 0 0 75%; max-width: 75%; }

.col-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }

.col-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }

.col-12 { flex: 0 0 100%; max-width: 100%; }

.order-first { order: -1; }

.order-last { order: 13; }

.order-0 { order: 0; }

.order-1 { order: 1; }

.order-2 { order: 2; }

.order-3 { order: 3; }

.order-4 { order: 4; }

.order-5 { order: 5; }

.order-6 { order: 6; }

.order-7 { order: 7; }

.order-8 { order: 8; }

.order-9 { order: 9; }

.order-10 { order: 10; }

.order-11 { order: 11; }

.order-12 { order: 12; }

.offset-1 { margin-left: 8.3333333333%; }

.offset-2 { margin-left: 16.6666666667%; }

.offset-3 { margin-left: 25%; }

.offset-4 { margin-left: 33.3333333333%; }

.offset-5 { margin-left: 41.6666666667%; }

.offset-6 { margin-left: 50%; }

.offset-7 { margin-left: 58.3333333333%; }

.offset-8 { margin-left: 66.6666666667%; }

.offset-9 { margin-left: 75%; }

.offset-10 { margin-left: 83.3333333333%; }

.offset-11 { margin-left: 91.6666666667%; }

@media (min-width: 576px) { .col-sm { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-sm-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-sm-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-sm-3 > * { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .row-cols-sm-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-sm-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-sm-6 > * { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-sm-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-sm-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-sm-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-sm-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-sm-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-sm-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
  .order-sm-first { order: -1; }
  .order-sm-last { order: 13; }
  .order-sm-0 { order: 0; }
  .order-sm-1 { order: 1; }
  .order-sm-2 { order: 2; }
  .order-sm-3 { order: 3; }
  .order-sm-4 { order: 4; }
  .order-sm-5 { order: 5; }
  .order-sm-6 { order: 6; }
  .order-sm-7 { order: 7; }
  .order-sm-8 { order: 8; }
  .order-sm-9 { order: 9; }
  .order-sm-10 { order: 10; }
  .order-sm-11 { order: 11; }
  .order-sm-12 { order: 12; }
  .offset-sm-0 { margin-left: 0; }
  .offset-sm-1 { margin-left: 8.3333333333%; }
  .offset-sm-2 { margin-left: 16.6666666667%; }
  .offset-sm-3 { margin-left: 25%; }
  .offset-sm-4 { margin-left: 33.3333333333%; }
  .offset-sm-5 { margin-left: 41.6666666667%; }
  .offset-sm-6 { margin-left: 50%; }
  .offset-sm-7 { margin-left: 58.3333333333%; }
  .offset-sm-8 { margin-left: 66.6666666667%; }
  .offset-sm-9 { margin-left: 75%; }
  .offset-sm-10 { margin-left: 83.3333333333%; }
  .offset-sm-11 { margin-left: 91.6666666667%; } }

@media (min-width: 768px) { .col-md { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-md-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-md-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-md-3 > * { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .row-cols-md-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-md-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-md-6 > * { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-md-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-md-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-md-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-md-3 { flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-md-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-md-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-md-9 { flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-md-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-md-12 { flex: 0 0 100%; max-width: 100%; }
  .order-md-first { order: -1; }
  .order-md-last { order: 13; }
  .order-md-0 { order: 0; }
  .order-md-1 { order: 1; }
  .order-md-2 { order: 2; }
  .order-md-3 { order: 3; }
  .order-md-4 { order: 4; }
  .order-md-5 { order: 5; }
  .order-md-6 { order: 6; }
  .order-md-7 { order: 7; }
  .order-md-8 { order: 8; }
  .order-md-9 { order: 9; }
  .order-md-10 { order: 10; }
  .order-md-11 { order: 11; }
  .order-md-12 { order: 12; }
  .offset-md-0 { margin-left: 0; }
  .offset-md-1 { margin-left: 8.3333333333%; }
  .offset-md-2 { margin-left: 16.6666666667%; }
  .offset-md-3 { margin-left: 25%; }
  .offset-md-4 { margin-left: 33.3333333333%; }
  .offset-md-5 { margin-left: 41.6666666667%; }
  .offset-md-6 { margin-left: 50%; }
  .offset-md-7 { margin-left: 58.3333333333%; }
  .offset-md-8 { margin-left: 66.6666666667%; }
  .offset-md-9 { margin-left: 75%; }
  .offset-md-10 { margin-left: 83.3333333333%; }
  .offset-md-11 { margin-left: 91.6666666667%; } }

@media (min-width: 992px) { .col-lg { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-lg-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-lg-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-lg-3 > * { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .row-cols-lg-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-lg-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-lg-6 > * { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-lg-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-lg-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-lg-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-lg-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-lg-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-lg-9 { flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-lg-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
  .order-lg-first { order: -1; }
  .order-lg-last { order: 13; }
  .order-lg-0 { order: 0; }
  .order-lg-1 { order: 1; }
  .order-lg-2 { order: 2; }
  .order-lg-3 { order: 3; }
  .order-lg-4 { order: 4; }
  .order-lg-5 { order: 5; }
  .order-lg-6 { order: 6; }
  .order-lg-7 { order: 7; }
  .order-lg-8 { order: 8; }
  .order-lg-9 { order: 9; }
  .order-lg-10 { order: 10; }
  .order-lg-11 { order: 11; }
  .order-lg-12 { order: 12; }
  .offset-lg-0 { margin-left: 0; }
  .offset-lg-1 { margin-left: 8.3333333333%; }
  .offset-lg-2 { margin-left: 16.6666666667%; }
  .offset-lg-3 { margin-left: 25%; }
  .offset-lg-4 { margin-left: 33.3333333333%; }
  .offset-lg-5 { margin-left: 41.6666666667%; }
  .offset-lg-6 { margin-left: 50%; }
  .offset-lg-7 { margin-left: 58.3333333333%; }
  .offset-lg-8 { margin-left: 66.6666666667%; }
  .offset-lg-9 { margin-left: 75%; }
  .offset-lg-10 { margin-left: 83.3333333333%; }
  .offset-lg-11 { margin-left: 91.6666666667%; } }

@media (min-width: 1200px) { .col-xl { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-xl-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-xl-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-xl-3 > * { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .row-cols-xl-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-xl-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-xl-6 > * { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-xl-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-xl-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-xl-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-xl-3 { flex: 0 0 25%; max-width: 25%; }
  .col-xl-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-xl-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-xl-6 { flex: 0 0 50%; max-width: 50%; }
  .col-xl-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-xl-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-xl-9 { flex: 0 0 75%; max-width: 75%; }
  .col-xl-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-xl-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-xl-12 { flex: 0 0 100%; max-width: 100%; }
  .order-xl-first { order: -1; }
  .order-xl-last { order: 13; }
  .order-xl-0 { order: 0; }
  .order-xl-1 { order: 1; }
  .order-xl-2 { order: 2; }
  .order-xl-3 { order: 3; }
  .order-xl-4 { order: 4; }
  .order-xl-5 { order: 5; }
  .order-xl-6 { order: 6; }
  .order-xl-7 { order: 7; }
  .order-xl-8 { order: 8; }
  .order-xl-9 { order: 9; }
  .order-xl-10 { order: 10; }
  .order-xl-11 { order: 11; }
  .order-xl-12 { order: 12; }
  .offset-xl-0 { margin-left: 0; }
  .offset-xl-1 { margin-left: 8.3333333333%; }
  .offset-xl-2 { margin-left: 16.6666666667%; }
  .offset-xl-3 { margin-left: 25%; }
  .offset-xl-4 { margin-left: 33.3333333333%; }
  .offset-xl-5 { margin-left: 41.6666666667%; }
  .offset-xl-6 { margin-left: 50%; }
  .offset-xl-7 { margin-left: 58.3333333333%; }
  .offset-xl-8 { margin-left: 66.6666666667%; }
  .offset-xl-9 { margin-left: 75%; }
  .offset-xl-10 { margin-left: 83.3333333333%; }
  .offset-xl-11 { margin-left: 91.6666666667%; } }

.card { position: relative; display: flex; flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; }

.card > hr { margin-right: 0; margin-left: 0; }

.card > .list-group:first-child .list-group-item:first-child { border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; }

.card > .list-group:last-child .list-group-item:last-child { border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }

.card-body { flex: 1 1 auto; min-height: 1px; padding: 1.25rem; }

.card-title { margin-bottom: 0.75rem; }

.card-subtitle { margin-top: -0.375rem; margin-bottom: 0; }

.card-text:last-child { margin-bottom: 0; }

.card-link:hover { text-decoration: none; }

.card-link + .card-link { margin-left: 1.25rem; }

.card-header { padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: rgba(0, 0, 0, 0.03); border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-header:first-child { border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }

.card-header + .list-group .list-group-item:first-child { border-top: 0; }

.card-footer { padding: 0.75rem 1.25rem; background-color: rgba(0, 0, 0, 0.03); border-top: 1px solid rgba(0, 0, 0, 0.125); }

.card-footer:last-child { border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.card-header-tabs { margin-right: -0.625rem; margin-bottom: -0.75rem; margin-left: -0.625rem; border-bottom: 0; }

.card-header-pills { margin-right: -0.625rem; margin-left: -0.625rem; }

.card-img-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 1.25rem; }

.card-img, .card-img-top, .card-img-bottom { flex-shrink: 0; width: 100%; }

.card-img, .card-img-top { border-top-left-radius: calc(0.25rem - 1px); border-top-right-radius: calc(0.25rem - 1px); }

.card-img, .card-img-bottom { border-bottom-right-radius: calc(0.25rem - 1px); border-bottom-left-radius: calc(0.25rem - 1px); }

.card-deck .card { margin-bottom: 15px; }

@media (min-width: 576px) { .card-deck { display: flex; flex-flow: row wrap; margin-right: -15px; margin-left: -15px; }
  .card-deck .card { flex: 1 0 0%; margin-right: 15px; margin-bottom: 0; margin-left: 15px; } }

.card-group > .card { margin-bottom: 15px; }

@media (min-width: 576px) { .card-group { display: flex; flex-flow: row wrap; }
  .card-group > .card { flex: 1 0 0%; margin-bottom: 0; }
  .card-group > .card + .card { margin-left: 0; border-left: 0; }
  .card-group > .card:not(:last-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
  .card-group > .card:not(:last-child) .card-img-top, .card-group > .card:not(:last-child) .card-header { border-top-right-radius: 0; }
  .card-group > .card:not(:last-child) .card-img-bottom, .card-group > .card:not(:last-child) .card-footer { border-bottom-right-radius: 0; }
  .card-group > .card:not(:first-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
  .card-group > .card:not(:first-child) .card-img-top, .card-group > .card:not(:first-child) .card-header { border-top-left-radius: 0; }
  .card-group > .card:not(:first-child) .card-img-bottom, .card-group > .card:not(:first-child) .card-footer { border-bottom-left-radius: 0; } }

.card-columns .card { margin-bottom: 0.75rem; }

@media (min-width: 576px) { .card-columns { column-count: 3; column-gap: 1.25rem; orphans: 1; widows: 1; }
  .card-columns .card { display: inline-block; width: 100%; } }

.accordion > .card { overflow: hidden; }

.accordion > .card:not(:last-of-type) { border-bottom: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.accordion > .card:not(:first-of-type) { border-top-left-radius: 0; border-top-right-radius: 0; }

.accordion > .card > .card-header { border-radius: 0; margin-bottom: -1px; }

/* .breadcrumb { display: flex; flex-wrap: wrap; padding: 0.75rem 1rem; margin-bottom: 1rem; list-style: none; background-color: #e9ecef; border-radius: 0.25rem; } */
.breadcrumb { display: flex; flex-wrap: wrap; padding: 0.75rem; }

.breadcrumb-item + .breadcrumb-item { padding-left: 0.5rem; }

.breadcrumb-item + .breadcrumb-item::before { display: inline-block; padding-right: 0.5rem; color: #6c757d; content: "/"; }

.breadcrumb-item + .breadcrumb-item:hover::before { text-decoration: underline; }

.breadcrumb-item + .breadcrumb-item:hover::before { text-decoration: none; }

.breadcrumb-item.active { color: #6c757d; }

.card { box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2); background: #fff; border-radius: 4px; }

.card--header { background: #333; color: #fff; width: 100%; border-top-right-radius: 4px; border-top-left-radius: 4px; }

.card--left-image { position: relative; }

.card--left-image:before { display: block; content: " "; width: 100%; padding-top: 56.25%; }

.card--left-image > .demo-content--media_halfscreen { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

#wrapper { position: relative; }

header .container { display: flex; flex-direction: row; align-items: center; }

header .container .navigation { display: inherit; justify-content: flex-end; }

header .container .branding { position: relative; }

header .branding, header .navigation { flex: 1 0 0; }

header .branding { padding-top: 32px; }

header .branding .branding--logo { width: 172px; height: 47px; }

@media (min-width: 768px) { header .branding .branding--logo { width: 198px; } }

#global-nav { position: absolute; content: ''; z-index: 1; top: 0; left: 0; width: 100%; }

.navigation ul { list-style-type: none; padding-left: 0; }

.hidden { display: none; }

#events .flex-grid { margin-top: 87px; }

#eventLeadForm { width: 100%; margin: 0 auto; }

@media (min-width: 992px) { #eventLeadForm { width: 355px; } }

.section-padding { padding: 75px 0; }

@media (min-width: 1024px) { .section-padding { padding: 158px 0; } }

.section-padding__bottom { padding-bottom: 75px; }

.padding-all-32px { padding: 32px; }

.no-pt { padding-top: 0; }

@media (max-width: 1024px) { .rwd-padding-lr { padding-left: 16px; padding-right: 16px; } }

.marble-bg-horizontal { background: url("../assets/images/marble-texture_2.jpg") no-repeat; width: 100%; height: 100%; background-position: center; background-size: cover; }

.bg-succeed { background: url("../assets/images/man-bg.jpg"); width: 100%; height: 100%; background-position: center; background-size: cover; color: #fff; position: relative; }

.bg-succeed .text--xxl { color: #fff !important; }

.bg-succeed:before { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.5); }

.content { display: flex; justify-content: center; flex-direction: column; height: 100%; }

.social-media-wrapper { width: 100%; margin: 0 auto; margin-bottom: 75px; text-align: center; }

@media (min-width: 992px) { .social-media-wrapper { width: 50%; margin-bottom: 72px; } }

.social-media-wrapper .col-sml { width: auto; font-size: 32px; }

.social-media-wrapper .col-sml:not(:last-child) { padding-right: 8px; }

.social-media-wrapper .flex-grid { justify-content: center; margin-top: 0; }

.social-media-wrapper a { color: #1d1d21; }

.text-center { text-align: center; }

.left-align { text-align: left; }

.img-responsive { width: 100%; height: auto; }

footer { padding: 32px 0; background: #ebebeb; }

@media (max-width: 1023px) { footer { text-align: center; } }

footer .content { font-size: 11px; }

footer .tcs { margin-top: 16px; }

@media (min-width: 1024px) { footer .tcs { text-align: right; margin-top: 0; align-self: flex-start; } }

footer a { color: inherit; text-decoration: none; }

footer a:hover { color: #666; text-decoration: underline; }

.form-group { position: relative; }

.form .col { margin-bottom: 32px; }

.form input { font-size: 18px; padding: 10px 10px 10px 5px; background: transparent; display: block; width: 100%; border: none; border-bottom: 2px solid var(--color-text); }

.form input:focus { outline: none; }

.form label { color: var(--color-text); font-size: 16px; font-weight: normal; position: absolute; pointer-events: none; left: 5px; top: 16px; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }

.form input:focus ~ label, .form input:valid ~ label { top: -16px; font-size: 12px; font-weight: 700; }

.form .bar { position: relative; display: block; width: 100%; }

.form .bar:before, .form .bar:after { content: ''; height: 2px; width: 0; bottom: 0; position: absolute; background: var(--color-text); transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }

.form .bar:before { left: 50%; }

.form .bar:after { right: 50%; }

.form input:focus ~ .bar:before, .form input:focus ~ .bar:after { width: 50%; }

.form-vertical { position: relative; }

.form-vertical .form-group { margin-bottom: 64px; }

.form-vertical .form-group:last-child { margin-bottom: 0; }

.alert { position: relative; padding: 0.75rem 1.25rem; margin-bottom: 1rem; margin-top: 1rem; border: 1px solid transparent; border-radius: 0.25rem; }

.alert-success { color: #155724; background-color: #d4edda; border-color: #c3e6cb; }

.alert-danger { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }

#loader, #loaderEv { position: absolute; content: ''; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); display: flex; justify-content: center; align-items: center; flex-direction: row; top: 0; left: 0; }

#outline { width: 70px; height: 70px; margin: 55px auto; }

.circle { width: 70px; height: 70px; border-radius: 50%; border-top: 2px solid rgba(255, 59, 48, 0.1); border-right: 2px solid rgba(255, 59, 48, 0.1); border-bottom: 2px solid rgba(255, 59, 48, 0.1); border-left: 2px solid #ff3b30; -webkit-animation: circle 2s infinite linear; animation: circle 2s infinite linear; }

@-webkit-keyframes circle { 100% { -webkit-transform: rotate(360deg); } }

@keyframes circle { 100% { transform: rotate(360deg);
    transform: rotate(360deg); } }

.card--header { position: relative; display: flex; flex-direction: row; justify-content: flex-end; align-items: center; }

.card--header:after { width: 100%; height: 100%; border-top: 91px solid rgba(255, 255, 255, 0.1); border-right: 263px solid transparent; content: ''; position: absolute; right: 0; top: 0; }

.card--header .text--xl { margin-bottom: 0; }

.outstanding { font-weight: bold; }

.card--content-padding { padding: 32px 0; }

.card--header { padding: 32px 32px 18px; }

.card--body { padding: 32px 32px 20px; }

.card__raised-body { padding: 40px 17px; }

@media (min-width: 992px) { .card__raised-body { padding: 72px 41px; } }

#media-card .card { padding: 84px 32px 32px; }

@media (min-width: 992px) { #media-card .card { padding: 56px; } }

.flex-grid { height: 100%; margin: 75px 0 0; }

@media (min-width: 992px) { .flex-grid { margin: 0; } }

.flex-grid .card-col { display: flex; justify-content: center; flex-direction: column; }

.flex-grid .col-1of2 { width: 100%; margin-bottom: 24px; }

@media (min-width: 992px) { .flex-grid .col-1of2 { width: calc(100% / 2 - 8px); height: auto; min-height: 281px; }
  .flex-grid .col-1of2:nth-child(odd) { margin-right: 15px; }
  .flex-grid .col-1of2:not(:nth-child(3n)):not(:last-child) { margin-bottom: 24px; } }

.flex-grid .col-1of3 { width: 100%; margin-bottom: 24px; }

@media (min-width: 992px) { .flex-grid .col-1of3 { width: calc(100% / 3 - 15px); height: auto; margin-right: 15px; margin-bottom: 0; }
  .flex-grid .col-1of3:last-child { margin-right: 0; } }

.flex-grid .col-1of4 { width: 100%; margin-bottom: 24px; height: 281px; }

@media (min-width: 768px) and (max-width: 991px) { .flex-grid .col-1of4 { width: calc(100% / 2 - 8px); height: auto; min-height: 281px; margin-right: 16px; }
  .flex-grid .col-1of4:nth-child(even) { margin-right: 0; } }

@media (min-width: 992px) { .flex-grid .col-1of4 { width: calc(100% / 4 - 8px); height: auto; min-height: 281px; margin-right: 16px; }
  .flex-grid .col-1of4:last-child { margin-right: 0; } }

#success .col-1of4 { height: auto; min-height: 224px; }

@media (min-width: 768px) and (max-width: 991px) { #success .col-1of4 { width: calc(100% / 2 - 15px); min-height: 264px; } }

@media (min-width: 992px) { #success .col-1of4 { width: calc(100% / 4 - 15px); min-height: 264px; } }

#success .card-col { justify-content: flex-start; }

#media-card .col-1of2 { margin-bottom: 0; }

@media (min-width: 992px) { #media-card .col-1of2 { width: calc(100% / 2); margin-right: 0; min-height: 281px; } }

#media-card .col-1of2:first-child { z-index: 2; }

#media-card .card--left-image { height: 100%; border-top-left-radius: 4px; border-top-right-radius: 4px; }

@media (min-width: 992px) { #media-card .card--left-image { border-top-left-radius: 4px; border-top-right-radius: 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 0; } }

#media-card .card { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

@media (min-width: 992px) { #media-card .card { border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0; border-top-left-radius: 0; } }

#benefits .card, #success .card { background: #fff; color: var(--color-text); }

#success .card { text-align: left; }

#events .card { color: var(--color-text); padding: 16px; text-align: center; box-shadow: none; }

#events .col-1of2 { margin-right: 0; margin-bottom: 0; }

#events .col-1of2:nth-child(odd):not(:nth-child(3)) { background: #d1d1d1; }

#events .col-1of2:nth-child(4) { background: #d1d1d1; }

#events .col-1of2:nth-child(even):not(:nth-child(4)) { background: #efefef; }

#events .col-1of2:nth-child(3) { background: #efefef; }

#benefits .card { position: relative; padding: 16px; }

#benefits .col-1of2 { padding: 24px; min-height: 224px; }

@media (min-width: 768px) { #benefits .col-1of2 { width: calc(100% / 2 - 8px); height: auto; padding: 48px; }
  #benefits .col-1of2:nth-child(odd) { margin-right: 15px; }
  #benefits .col-1of2:not(:nth-child(3n)):not(:last-child) { margin-bottom: 24px; } }

#benefits .content { padding-right: 0; }

@media (min-width: 1024px) { #benefits .content { padding-right: 32px; } }

#benefits .col-1of3 { width: 100%; margin-bottom: 16px; }

@media (min-width: 992px) { #benefits .col-1of3 { width: calc(100% / 3 - 15px); height: auto; margin-right: 16px; }
  #benefits .col-1of3:last-child, #benefits .col-1of3:nth-child(3n) { margin-right: 0; } }

#benefits .card-col { justify-content: flex-start; flex-direction: row; align-items: center; }

#benefits .card-col .icon { flex: none; width: 24%; }

.full-width { min-height: 420px; height: auto; }

@media (min-width: 1024px) { .full-width { min-height: 840px; } }

.col-divider { width: 100%; margin-left: 0; }

@media (min-width: 1440px) { .col-divider { width: 64%; margin-left: auto; padding-left: 48px; } }

.sec_divider { margin: 96px 0; width: 100%; display: block; height: 2px; background-color: #e5e5e4; }

@media (min-width: 992px) { .sec_divider { margin: 96px 0 156px; } }

/* #Progress
================================================== */
.progress-wrap { position: fixed; right: 50px; bottom: 120px; height: 46px; width: 46px; cursor: pointer; display: none; border-radius: 50px; box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2); z-index: 10000; opacity: 0; visibility: hidden; transform: translateY(15px); -webkit-transition: all 200ms linear; transition: all 200ms linear; }

@media (min-width: 768px) { .progress-wrap { display: block; } }

.progress-wrap.active-progress { opacity: 1; visibility: visible; transform: translateY(0); }

.progress-wrap::after { position: absolute; font-family: 'unicons'; content: '\e84b'; text-align: center; line-height: 46px; font-size: 24px; color: #ff3b30; left: 0; top: 0; height: 46px; width: 46px; cursor: pointer; display: block; z-index: 1; -webkit-transition: all 200ms linear; transition: all 200ms linear; }

.progress-wrap:hover::after { opacity: 0.2; }

.progress-wrap::before { position: absolute; font-family: 'unicons'; content: '\e84b'; text-align: center; line-height: 46px; font-size: 24px; opacity: 0; background-image: linear-gradient(298deg, var(--red), var(--yellow)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; left: 0; top: 0; height: 46px; width: 46px; cursor: pointer; display: block; z-index: 2; -webkit-transition: all 200ms linear; transition: all 200ms linear; }

.progress-wrap:hover::before { opacity: 1; }

.progress-wrap svg path { fill: none; }

.progress-wrap svg.progress-circle path { stroke: #ff3b30; stroke-width: 4; box-sizing: border-box; -webkit-transition: all 200ms linear; transition: all 200ms linear; }

.progress-wrap:hover svg.progress-circle path { opacity: 0.2; }

.aspect-ratio-box { position: relative; height: 100%; }

.aspect-ratio-box::after { display: block; content: ''; padding-bottom: 56.25%; }

.aspect-ratio-box img { border-radius: 4px; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.full-media { position: relative; }

.full-media .aspect-ratio-box img { z-index: 1; border-radius: 4px; }

.pattern-one, .pattern-two, .pattern-three { position: relative; }

@media (min-width: 1024px) { .pattern-one:before { content: ''; width: 0; height: 0; border-bottom: 1000px solid #fff; border-right: 72vmax solid transparent; position: absolute; bottom: 0; left: 0; z-index: -1; }
  .pattern-one:after { content: ''; width: 0; height: 0; border-top: 763px solid #0e0d0f; border-left: 52.5vmax solid transparent; position: absolute; top: 0; right: 0; z-index: -1; }
  .pattern-two:before { content: ''; width: 0; height: 0; border-top: 1600px solid #fff; border-left: 1600px solid transparent; position: absolute; top: 0; right: 0; z-index: -1; }
  .pattern-three:before { content: ''; width: 0; height: 0; border-bottom: 1766px solid #fff; border-left: 62.5vmax solid transparent; position: absolute; top: 0; right: 0; z-index: -1; } }

.text-white { color: #fff; }

.anchor-black { color: rgba(0, 0, 0, 0.87); text-decoration: underline; }

.anchor-black:hover { color: #666; text-decoration: none; }

#benefits .flex-grid > * { pointer-events: auto; transition: 300ms opacity, 300ms transform; }

#benefits .flex-grid > *:after { transition: 300ms all; }

#benefits .flex-grid:hover > *:hover { opacity: 1; }

#benefits .flex-grid:hover > *:hover:after { border-bottom-color: #ff3b30; }

#benefits .flex-grid:hover > * { opacity: 0.2; }

/* icons */
.trigger_icon { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; margin-right: auto; }

@media (min-width: 992px) { .trigger_icon { width: 50%; } }

.trigger_icon i { font-size: 44px; color: #ff3b30; }

@media (min-width: 992px) { .trigger_icon i { font-size: 64px; } }

.trigger_icon a, .trigger_icon i { z-index: 2; }

.social-icon { width: 57px; height: 21px; font-size: 10px; color: #fff !important; padding: 3px 7px; border-radius: 3px; text-decoration: none; }

.social-twitter { background-color: #1da1f2; }

.social-facebook:hover { color: #1877f2; }

.social-instagram:hover { color: #833AB4; }

.social-linkedin:hover { color: #2867b2; }

.media-wrapper { display: grid; grid-template-columns: repeat(4, minmax(60px, 1fr)); grid-row-gap: 32px; }

@media (min-width: 768px) { .media-wrapper { grid-template-columns: repeat(8, minmax(60px, 1fr)); } }

@media (min-width: 992px) { .media-wrapper { grid-template-columns: repeat(12, minmax(60px, 1fr)); } }

.media-wrapper__main { grid-area: media-sec; grid-column: 1 / span 4; grid-row: 1; }

@media (min-width: 768px) { .media-wrapper__main { grid-column: 1 / span 8; } }

@media (min-width: 992px) { .media-wrapper__main { grid-column: 1 / span 12; } }

.media-wrapper__col { grid-area: media-col; grid-column: 1 / span 4; grid-row: 2; position: relative; }

@media (min-width: 768px) { .media-wrapper__col { grid-column: 1 / span 8; } }

@media (min-width: 992px) { .media-wrapper__col { grid-column: 7 / span 6; grid-row: 1; margin-top: -72px; margin-right: 5%; } }

.media-wrapper .full-media { width: 100%; height: 224px; display: flex; justify-content: center; align-items: center; border-radius: 4px; }

@media (min-width: 992px) { .media-wrapper .full-media { height: 311px; } }

.media-wrapper__social { margin-top: 16px; width: 100%; }

@media (min-width: 992px) { .media-wrapper__social { width: 32%; } }

.media-wrapper__social .wrapper-col_1 { margin-right: 10px; }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) { .media-wrapper { position: relative; min-height: 441px; margin-bottom: 0; }
  .media-wrapper:first-child { margin-bottom: 72px; }
  .media-wrapper__social { margin: 12px 0 32px; }
  .media-wrapper .full-media { width: 100%; height: 140px; display: flex; justify-content: center; align-items: center; }
  .media-wrapper__col { position: relative; } }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 992px) { .media-wrapper { min-height: 493px; }
  .media-wrapper:last-child { min-height: 695px; }
  .media-wrapper .full-media { height: 311px; }
  .media-wrapper__col { position: absolute; top: -40px; right: 32px; width: calc(100% / 2); } }

.mfp-bg { background: #000; opacity: 0.93; }

.mfp-bg, .mfp-wrap { z-index: 10007; }

.mfp-fade.mfp-bg { opacity: 0; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8; }

#mainStart { padding-bottom: 85px; }

#cta-block { justify-content: center; margin-bottom: 85px; }

#cta-block .center-col-1 { width: 100%; }

@media (min-width: 992px) { #cta-block .center-col-1 { width: 584px; } }

#cta-block .center-col-1 .cta-block-content { padding: 40px 32px; text-align: center; }

#cta-block .center-col-1 .cta-block-content .btn { margin-top: 32px; }

#cta-block .center-col-1 .cta-block-content .btn--secondary:active { background-color: #f5414f; }

#single-post { margin-top: 160px; }

#single-post .jumbotron { margin-top: 152px; margin-bottom: 160px; }

#single-post .media-wrapper__main { grid-row: 2; grid-column: 1 / span 12; }

#single-post .media-wrapper__col { grid-row: 3; grid-column: 1 / span 12; margin-right: 0; }

#single-post .media-wrapper .text--xxl { grid-row: 1; grid-column: 1 / span 12; margin-bottom: 0; }

#single-post .media-wrapper .outstanding { margin-bottom: 0; }

/* .post-crumbs { margin-top: 188px; } */
.post-crumbs { margin-top: calc(100vh - 800px); }

.post-crumbs .breadcrumb .breadcrumb-item { margin-top: 0; margin-bottom: 0; }

.post-crumbs a { text-decoration: none; }

.card__raised-body a { text-decoration: none; }

.card__raised-body a:hover .text--xl { color: #ff3b30; }

.masthead { display: flex; width: 100%; padding: 0; padding-top: 154px; position: relative; flex-direction: row; align-items: center; height: 100vh; }

.post-masthead { display: flex; width: 100%; padding: 0; padding-top: 154px; position: relative; flex-direction: row; align-items: center; height: auto; }

.posts-masthead { display: flex; width: 100%; padding: 0; padding-top: 154px; position: relative; flex-direction: row; align-items: center; height: 50vh; }

@media (min-width: 1220px) { .masthead { padding: 150px 150px 0; } }

@media (max-height: 700px) { .masthead { align-items: flex-start; } }

.masthead--content { width: 100%; }

@media (min-width: 768px) and (max-width: 1023px) { .masthead--content { width: 60%; } }

@media (min-width: 1024px) { .masthead--content { width: 44%; } }

.masthead--content .uil-arrow-down { padding-top: 8%; display: block; color: #ff3b30; }

@media (min-width: 992px) { .masthead--content .uil-arrow-down { padding-top: 16%; } }

.media-holder { position: relative; }

.media-holder:after { display: block; content: ''; padding-bottom: 56.25%; }

.media-holder .media-container { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.top-media { clip-path: polygon(100% 0, 100% 100%, 19% 0); }

.bottom-media { clip-path: polygon(100% 0, 100% 100%, 27% 100%); }

@media (max-width: 1024px) { .mast-bottom { display: none; } }

.mast-top, .mast-bottom { position: absolute; right: 0; width: 72%; }

.mast-top { top: 0; }

.mast-bottom { bottom: 0; }

@media (min-width: 768px) and (max-width: 1023px) { .mast-top { width: 88%; } }

@supports (-ms-ime-align: auto) { .mast-bottom, .mast-top .top-media { display: none; }
  @media only screen and (max-device-width: 767px) { .mast-top .top-media-ie { height: 33rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 991px) { .mast-top { width: 60%; display: block; }
    .mast-top .top-media { display: none; }
    .mast-top .top-media-ie { height: 36rem; } }
  @media only screen and (min-device-width: 992px) { .mast-hero { position: absolute; top: 0; right: 0; width: 60%; height: 100%; display: block; }
    .mast-top { display: none; } }
  @media only screen and (max-device-width: 991px) { .mast-hero { display: none; }
    .mast-top { width: 60%; display: block; }
    .mast-top .top-media { display: none; } }
  @media only screen and (min-device-width: 1024px) { .pattern-one:before { border-right: 1000px solid transparent; }
    .pattern-one:after { display: none; }
    .pattern-three:before { border-left: 1766px solid transparent; } } }

@supports (clip-path: polygon(100% 0, 100% 100%, 19% 0)) or (-webkit-clip-path: polygon(100% 0, 100% 100%, 27% 100%)) { .mast-top .top-media-ie { display: none; } }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) { .mast-bottom, .mast-top .top-media { display: none; } }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (max-device-width: 767px) { .mast-top .top-media-ie { height: 33rem; } }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-device-width: 768px) and (max-device-width: 991px) { .mast-top { width: 60%; display: block; }
  .mast-top .top-media { display: none; }
  .mast-top .top-media-ie { height: 36rem; } }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-device-width: 992px) { .mast-hero { position: absolute; top: 0; right: 0; width: 60%; height: 100%; display: block; }
  .mast-top { display: none; } }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (max-device-width: 991px) { .mast-hero { display: none; }
  .mast-top { width: 60%; display: block; }
  .mast-top .top-media { display: none; } }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-device-width: 1024px) { .pattern-one:before { border-right: 1000px solid transparent; }
  .pattern-one:after { display: none; }
  .pattern-three:before { border-left: 1766px solid transparent; }
  .top-media-ie { height: 100%; } }

@supports (clip-path: polygon(100% 0, 100% 100%, 19% 0)) or (-webkit-clip-path: polygon(100% 0, 100% 100%, 27% 100%)) { .mast-top .top-media-ie { display: none; } }

ul, li { padding: 0; margin: 0; list-style: none; }

ul { margin: 0; }

li { margin: 1em; margin-left: 1.5em; }

li:before { float: left; margin-left: -1.5em; color: #ff3b30; }

.stars li:before { content: '\eb7d'; font-family: 'Unicons'; }

.ticks li:before { content: '\e8c8'; font-family: 'Unicons'; }

/* Magnific Popup CSS */
.mfp-bg { top: 0; left: 0; width: 100%; height: 100%; z-index: 1042; overflow: hidden; position: fixed; background: #0b0b0b; opacity: 0.8; }

.mfp-wrap { top: 0; left: 0; width: 100%; height: 100%; z-index: 1043; position: fixed; outline: none !important; -webkit-backface-visibility: hidden; }

.mfp-container { text-align: center; position: absolute; width: 100%; height: 100%; left: 0; top: 0; padding: 0 8px; box-sizing: border-box; }

.mfp-container:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

.mfp-align-top .mfp-container:before { display: none; }

.mfp-content { position: relative; display: inline-block; vertical-align: middle; margin: 0 auto; text-align: left; z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content { width: 100%; cursor: auto; }

.mfp-ajax-cur { cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: -moz-zoom-out; cursor: -webkit-zoom-out; cursor: zoom-out; }

.mfp-zoom { cursor: pointer; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in; }

.mfp-auto-cursor .mfp-content { cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter { -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.mfp-loading.mfp-figure { display: none; }

.mfp-hide { display: none !important; }

.mfp-preloader { color: #CCC; position: absolute; top: 50%; width: auto; text-align: center; margin-top: -0.8em; left: 8px; right: 8px; z-index: 1044; }

.mfp-preloader a { color: #CCC; }

.mfp-preloader a:hover { color: #FFF; }

.mfp-s-ready .mfp-preloader { display: none; }

.mfp-s-error .mfp-content { display: none; }

button.mfp-close, button.mfp-arrow { overflow: visible; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; display: block; outline: none; padding: 0; z-index: 1046; box-shadow: none; touch-action: manipulation; }

button::-moz-focus-inner { padding: 0; border: 0; }

.mfp-close { width: 44px; height: 44px; line-height: 44px; position: absolute; right: 0; top: 0; text-decoration: none; text-align: center; opacity: 0.65; padding: 0 0 18px 10px; color: #FFF; font-style: normal; font-size: 28px; font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus { opacity: 1; }

.mfp-close:active { top: 1px; }

.mfp-close-btn-in .mfp-close { color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close { color: #FFF; right: -6px; text-align: right; padding-right: 6px; width: 100%; }

.mfp-counter { position: absolute; top: 0; right: 0; color: #CCC; font-size: 12px; line-height: 18px; white-space: nowrap; }

.mfp-arrow { position: absolute; opacity: 0.65; margin: 0; top: 50%; margin-top: -55px; padding: 0; width: 90px; height: 110px; -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active { margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus { opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after { content: ''; display: block; width: 0; height: 0; position: absolute; left: 0; top: 0; margin-top: 35px; margin-left: 35px; border: medium inset transparent; }

.mfp-arrow:after { border-top-width: 13px; border-bottom-width: 13px; top: 8px; }

.mfp-arrow:before { border-top-width: 21px; border-bottom-width: 21px; opacity: 0.7; }

.mfp-arrow-left { left: 0; }

.mfp-arrow-left:after { border-right: 17px solid #FFF; margin-left: 31px; }

.mfp-arrow-left:before { margin-left: 25px; border-right: 27px solid #3F3F3F; }

.mfp-arrow-right { right: 0; }

.mfp-arrow-right:after { border-left: 17px solid #FFF; margin-left: 39px; }

.mfp-arrow-right:before { border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder { padding-top: 40px; padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content { line-height: 0; width: 100%; max-width: 900px; }

.mfp-iframe-holder .mfp-close { top: -40px; }

.mfp-iframe-scaler { width: 100%; height: 0; overflow: hidden; padding-top: 56.25%; }

.mfp-iframe-scaler iframe { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #000; }

/* Main image in popup */
img.mfp-img { width: auto; max-width: 100%; height: auto; display: block; line-height: 0; box-sizing: border-box; padding: 40px 0 40px; margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure { line-height: 0; }

.mfp-figure:after { content: ''; position: absolute; left: 0; top: 40px; bottom: 40px; display: block; right: 0; width: auto; height: auto; z-index: -1; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #444; }

.mfp-figure small { color: #BDBDBD; display: block; font-size: 12px; line-height: 14px; }

.mfp-figure figure { margin: 0; }

.mfp-bottom-bar { margin-top: -36px; position: absolute; top: 100%; left: 0; width: 100%; cursor: auto; }

.mfp-title { text-align: left; line-height: 18px; color: #F3F3F3; word-wrap: break-word; padding-right: 36px; }

.mfp-image-holder .mfp-content { max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure { cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) { /** Remove all paddings around the image on small screen */
  .mfp-img-mobile .mfp-image-holder { padding-left: 0; padding-right: 0; }
  .mfp-img-mobile img.mfp-img { padding: 0; }
  .mfp-img-mobile .mfp-figure:after { top: 0; bottom: 0; }
  .mfp-img-mobile .mfp-figure small { display: inline; margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar { background: rgba(0, 0, 0, 0.6); bottom: 0; margin: 0; top: auto; padding: 3px 5px; position: fixed; box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty { padding: 0; }
  .mfp-img-mobile .mfp-counter { right: 5px; top: 3px; }
  .mfp-img-mobile .mfp-close { top: 0; right: 0; width: 35px; height: 35px; line-height: 35px; background: rgba(0, 0, 0, 0.6); position: fixed; text-align: center; padding: 0; } }

@media all and (max-width: 900px) { .mfp-arrow { -webkit-transform: scale(0.75); transform: scale(0.75); }
  .mfp-arrow-left { -webkit-transform-origin: 0; transform-origin: 0; }
  .mfp-arrow-right { -webkit-transform-origin: 100%; transform-origin: 100%; }
  .mfp-container { padding-left: 6px; padding-right: 6px; } }

.no-margin { margin: 0 0 8px 0; }

.margin-top-56 { margin-top: 56px; }

/*# sourceMappingURL=main.css.map */