---
layout: default
title: Financial planning for a new generation
---

<!-- Main -->
<main>

  <!-- Banner / Masthead -->
  <section class="masthead">

      <div class="container">
          <div class="masthead--content">
              <div class="col-half">
                  <div class="margin-bottom--xxl">
                      <h1 class="text--xxl">New generation financial planning</h1>
                      <p>Velocity Club is for people who aspire to achieve everything they want from life. The sky’s the limit with a professional Advice Team right next to you.</p>
                  </div>
                  <a href="#mainStart"><i class="uil uil-arrow-down" style="font-size: 40px;"></i></a>
              </div>
          </div>
      </div>
      <div class="mast-hero">
          <div class="media-holder" style="background:url('assets/images/hero-img-1.png')no-repeat;background-position:left;background-size: cover;height:100%;">
              <div class="media-container"></div>
          </div>
      </div>
      <!-- Clipped Images -->
      <div class="mast-top">
          <div class="media-holder top-media" style="background:url('assets/images/man-hero-img.jpg')no-repeat;background-position: right bottom;background-size: cover;">
              <div class="media-container"></div>
          </div>
          <div class="media-holder top-media-ie" style="background:url('assets/images/man-hero-img.png')no-repeat;background-size: cover;">
              <div class="media-container"></div>
          </div>
      </div>
      <div class="mast-bottom">
          <div class="media-holder bottom-media" style="background:url('assets/images/marble texture-hero-img.jpg')no-repeat;background-position: center;background-size: cover;">
              <div class="media-container"></div>
          </div>
      </div>
      <!-- end Clipped Images -->

  </section>
  <!-- end Banner / Masthead -->

  <!-- Sec 1 -->
  <section class="pattern-one" id="mainStart">

      <div class="container">

          <!-- Sec 1.1 -->
          <div class="section-padding">

              <div class="flex-grid">

                  <!-- Left side -->
                  <div class="col-1of2">
                      <div class="content">
                          <div class="row">
                              <div class="col-md-10">
                                  <h2 class="text--xl">How important is it to you to achieve your life goals?</h2>
                                  <p>Money is personal. We help you make the connection between your life, your goals and your money.  Our <strong>Money Plans</strong> are realistic, based on honest, straightforward advice by a team of professionals that wants to be part of your journey to success.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end Left side -->

                  <!-- Right side -->
                  <div class="col-1of2 card form-vertical rwd-padding-lr">
                      <div class="card--content-padding">
                          <div class="row">
                              <div class="col-md-8 offset-md-2">
                                  <div id="stateChanger">
                                      <h2 class="text--lg">I’d like to find out more</h2>
                                      <div id="successMsg" class="alert alert-success" style="display: none;">
                                          <p>Thanks for submitting.</p>
                                          <p>You will now be redirected to Typeform to complete a survey.</p>
                                      </div>
                                      <div id="errorMsg" class="alert alert-danger" style="display: none;">
                                          <p>Sorry, but something went wrong.</p>
                                          <p>You will now be redirected to Typeform to complete a survey.</p>
                                      </div>
                                      <!-- Form -->
                                      <form id="inquiryForm" class="form">
                                          <input type="hidden" name="_subject" value="I'd like more information." />
                                          <input type="hidden" name="_eventinterest" id="eventInterest" value="false" />
                                          <div class="form-group">
                                              <input type="text" name="fullname" id="inputName" class="form-control" required>
                                              <span class="bar"></span>
                                              <label for="firstname">First name</label>
                                              <div class="error" id="errorDisplay" style="display: none;color: #ff3b30;">Please fill in name</div>
                                          </div>
                                          <div class="form-group">
                                              <input type="text" name="surname" id="inputSurname" class="form-control" required>
                                              <span class="bar"></span>
                                              <label for="surname">Surname</label>
                                              <div class="error" style="display: none;color: #ff3b30;">Please fill in surname</div>
                                          </div>
                                          <div class="form-group">
                                              <input type="text" name="cell" id="inputCell" class="form-control" required>
                                              <span class="bar"></span>
                                              <label for="cellnumber">Cell phone number</label>
                                              <div class="error" style="display: none;color: #ff3b30;">Please fill in cellnumber</div>
                                          </div>
                                          <div class="form-group">
                                              <input type="email" name="email" id="inputEmail" class="form-control" required>
                                              <span class="bar"></span>
                                              <label for="emailaddress">Email address</label>
                                              <div class="error" style="display: none;color: #ff3b30;">Please fill in email</div>
                                          </div>
                                          <div class="text-center">
                                              <button role="button" class="btn btn--secondary btn--md">Submit</button>
                                          </div>
                                      </form>
                                      <!-- end Form -->
                                  </div>
                                  <!-- Image loader -->
                                  <div id='loader' style='display: none;'>
                                      <div id="outline">
                                          <div class="circle"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end Right side -->

              </div>

          </div>
          <!-- end Sec 1.1 -->

          <!-- Sec 1.2 -->
          <div class="section-padding">
              <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                      <h3 class="text--sm sec-heading">VODCASTS AND EVENTS</h3>
                      <h2 class="text--xl">Y-Money matters</h2>
                      <p class="text--lead left-align">Financial freedom is something internal - not a comparison. It’s as individual as you are.</p>
                      <p>It comes with knowledge - knowledge of what you have, what you want and how you can get it.</p>
                      <p>Listen to our vodcasts by keynote speakers, or join like-minded people at one of our events – an open space for sharing ideas, honest conversations and learning.</p>
                  </div>
              </div>
          </div>
          <!-- end Sec 1.2 -->

          <!-- Sec 1.3 -->
          <!-- Videos -->
          <section class="section-padding no-pt">

            {% for post in site.posts reversed %}
              {% include video_posts.html %}
            {% endfor %}

          </section>
          <!-- end Videos -->

          <section class="flex-grid" id="cta-block">
              <div class="center-col-1 card">
                  <div class="cta-block-content">
                      <h1 class="text--xl">Register for our<br>live Q & A session</h1>
                      <p>30 April 2020 at 13:00</p>
                      <a href="https://event.webinarjam.com/register/16/q79qqi0" class="btn btn--secondary btn--md" target="_blank">Register</a>
                  </div>
              </div>
          </section>

          <!-- end Sec 1.3 -->

      </div>

  </section>
  <!-- end Sec 1 -->

  <!-- Sec 2 -->
  <section class="section-padding marble-bg-horizontal">
      <div class="container">
          <!-- Sec 2.1 -->
          <div class="row section-padding__bottom">
              <div class="col-lg-6 offset-lg-3 text-white">
                  <h2 class="text--xl text-white">We’re more than just financial advice</h2>
                  <p>We provide a full financial plan, called your <strong>Money Plan</strong> for all your life goals and help you do what you need to do to get it done, period.</p>
                  <p>Your <strong>Money Plan</strong> is unique to you and your goals. Whether that’s changing your job, taking a sabbatical to travel, studying further, starting a family or buying that first investment property, we help young professionals define and achieve their life goals and become financially independent.</p>
              </div>
          </div>
          <!-- end Sec 2.2 -->
          <div id="media-card">
              <div class="flex-grid">

                  <!-- Sec 2.1 -->
                  <div class="col-1of2">
                      <div class="card--left-image" style="background:url(assets/images/manstairs-section-img_1.jpg)no-repeat;background-position: center;background-size: cover;">
                          <div class="media_content"></div>
                      </div>
                  </div>
                  <!-- end Sec 2.1 -->

                  <!-- Sec 2.2 -->
                  <div class="col-1of2 card">
                      <div class="content">
                          <h2 class="text--xl">What you’ll get</h2>
                          <!-- <p>Your Money Plan is made just for you to precisely match your financial goals and provides you with:</p> -->
                          <ul class="ticks">
                              <li><strong>Straightforward</strong> financial advice.</li>
                              <li>A <strong>Money Plan</strong> built around your unique circumstances, goals and dreams.</li>
                              <li><strong>Access to a team of experienced professionals</strong> who’ll partner with you to achieve your goals, or help you when you need to make money-related decisions.</li>
                              <li><strong>Innovative use of technology</strong> to provide the best service to you.</li>
                          </ul>
                      </div>
                  </div>
                  <!-- end Sec 2.2 -->

              </div>
          </div>
      </div>
  </section>
  <!-- end Sec 2 -->

  <!-- Sec 3 -->
  <section id="fade-out-siblings" class="pattern-three">

      <div class="container">

          <!-- Sec 3.1 -->
          <div id="benefits" class="section-padding">

              <div class="col-xs-12">
                  <div class="flex-grid">
                      <div class="card card-col col-1of3">
                          <div class="icon"><img src="assets/images/couching-ico.svg" alt=""></div>
                          <p>Financial coaching on money and debt management.</p>
                      </div>
                      <div class="card card-col col-1of3">
                          <div class="icon"><img src="assets/images/tax-ico.svg" alt=""></div>
                          <p>Personal tax services.</p>
                      </div>
                      <div class="card card-col col-1of3">
                          <div class="icon"><img src="assets/images/investments-ico.svg" alt=""></div>
                          <p>Investments and wealth management.</p>
                      </div>
                      <div class="card card-col col-1of3">
                          <div class="icon"><img src="assets/images/couching-ico.svg" alt=""></div>
                          <p>Insurance to protect you, your family and your assets.</p>
                      </div>
                      <div class="card card-col col-1of3">
                          <div class="icon"><img src="assets/images/retirement-ico.svg" alt=""></div>
                          <p>Retirement planning and provision.</p>
                      </div>
                      <div class="card card-col col-1of3">
                          <div class="icon"><img src="assets/images/financialplanning-ico.svg" alt=""></div>
                          <p>Assistance with any other areas of your financial planning.</p>
                      </div>
                  </div>
              </div>

              <!-- <div class="row">

                  <div class="col-lg-5">
                      <div class="content">
                          <h2 class="text--xl">Our services</h2>
                          <p>Our services draw on a range of expertise to give you a highly personal, professional service - no matter how complex your needs may be.</p>
                      </div>
                  </div>

                  <div class="col-lg-7">
                      <div class="flex-grid">
                          <div class="card card-col col-1of2">
                              <p>Financial coaching on money and debt management.</p>
                          </div>
                          <div class="card card-col col-1of2">
                              <p>Personal tax services.</p>
                          </div>
                          <div class="card card-col col-1of2">
                              <p>Investments and wealth management.</p>
                          </div>
                          <div class="card card-col col-1of2">
                              <p>Insurance to protect you, your family and your assets.</p>
                          </div>
                      </div>
                  </div>

              </div> -->
          </div>
          <!-- end Sec 3.1 -->

          <!-- Sec 3.2 -->
          <div class="section-padding" id="media-card">
              <div class="flex-grid">
                  <!-- Image -->
                  <div class="col-1of2">
                      <div class="card--left-image" style="background:url(assets/images/manhappy-section-img_3.jpg)no-repeat;background-position: center;background-size: cover;">
                          <div class="media_content"></div>
                      </div>
                  </div>
                  <!-- end Image -->

                  <!-- Content -->
                  <div class="col-1of2 card">
                      <div class="content">
                          <h2 class="text--xl">We understand your needs</h2>
                          <p>Life is not only about money. It’s about people, purpose and experiences.</p>
                          <p>But we need money to live life on our terms, so we can be who we want to be, and do what we want to do - the stuff that matters to us.</p>
                          <p>Our professional team of relationship consultants, actuaries, certified financial planners, tax and investment specialists will support you by:</p>
                          <ul class="stars">
                              <li><strong>Understanding</strong> what is important to you.</li>
                              <li>Creating a <strong>financial plan</strong> that works for you.</li>
                              <li>Helping you <strong>implement it</strong>.</li>
                          </ul>
                      </div>
                  </div>
                  <!-- end Content -->

              </div>
          </div>
          <!-- end Sec 3.2 -->

      </div>

  </section>
  <!-- end Sec 3 -->

  <!-- Sec 4 -->
  <section class="full-width section-padding bg-succeed">
      <div class="container">
          <div class="row">
              <!-- Sec 4.1 -->
              <div class="col-md-6">
                  <h2 class="text--xl" style="color:#fff;">We want to see you<br>succeed</h2>
                  <p>We believe good financial planning and advice is a critical starting point, but often people start too late. We provide quality advice at a price you can afford, giving young professionals access to advice when they need it most.</p>
              </div>
              <!-- end Sec 4.1 -->

              <!-- <div class="col-sm-6"></div> -->

          </div>
      </div>
  </section>
  <!-- end Sec 4 -->

  <!-- Sec 5 -->
  <section class="pattern-two">

      <div class="container">

          <!-- Sec 5.1 -->
          <div class="section-padding" id="success">
              <!-- Set for Success -->
              <div class="">
                  <h2 class="text--xl">Set for success</h2>
                  <div class="row margin-bottom--lg">
                      <div class="col-lg-5">
                          <p class="margin-bottom--sm">We have your best interests at heart. You’ll get full access to a team of highly experienced professionals with a wealth of financial understanding to create your personalised <strong>Money Plan</strong>.</p>
                      </div>
                  </div>
              </div>
              <!-- end Set for Success -->

              <h2 class="text--lg">How it works</h2>

              <!-- How it Works -->
              <div class="flex-grid left-aligned">
                  <!-- Card 1 -->
                  <div class="card card-col col-1of4">
                      <div class="card--header">
                          <span class="outstanding text--lg">1</span>
                      </div>
                      <div class="card--body">
                          <p>Understand where you are, your life goals and your financial priorities.</p>
                      </div>
                  </div>
                  <!-- Card 2 -->
                  <div class="card card-col col-1of4">
                      <div class="card--header">
                          <span class="outstanding text--lg">2</span>
                      </div>
                      <div class="card--body">
                          <p>We craft a realistic plan for you to reach these goals.</p>
                      </div>
                  </div>
                  <!-- Card 3 -->
                  <div class="card card-col col-1of4">
                      <div class="card--header">
                          <span class="outstanding text--lg">3</span>
                      </div>
                      <div class="card--body">
                          <p>We help you to implement the plan.</p>
                      </div>
                  </div>
                  <!-- Card 4 -->
                  <div class="card card-col col-1of4">
                      <div class="card--header">
                          <span class="outstanding text--lg">4</span>
                      </div>
                      <div class="card--body">
                          <p>We help you keep track by regularly reviewing progress against your goals.</p>
                      </div>
                  </div>
              </div>
              <!-- end How it Works -->
          </div>
          <!-- end Sec 5.1 -->

          <!-- Sec 5.2 -->
          <div class="section-padding" id="media-card">
              <div class="flex-grid">

                  <!-- Image -->
                  <div class="col-1of2">
                      <div class="card--left-image" style="background:url(assets/images/manandwoman-section-img_2.jpg)no-repeat;background-position: center;background-size: cover;">
                          <div class="media_content"></div>
                      </div>
                  </div>
                  <!-- end Image -->

                  <!-- Content -->
                  <div class="col-1of2 card">
                      <div class="content">
                          <h2 class="text--xl">Join our online community</h2>
                          <ul class="stars">
                              <li>Learning and networking.</li>
                              <li>Talks from SA’s business, entrepreneurship and finance experts.</li>
                              <li>Hear from people who’ve achieved success in their own lives.</li>
                              <li>Engage with thought-leaders.</li>
                          </ul>
                      </div>
                  </div>
                  <!-- end Content -->

              </div>
          </div>
          <!-- end Sec 5.2 -->

      </div>

  </section>
  <!-- end Sec 5 -->

  <!-- Sec 6 -->
  <section class="full-width section-padding marble-bg-horizontal">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 offset-lg-3 text-white">
                  <h2 class="text--xl text-white">I'd like to join the online community</h2>
                  <p>By registering to become part of our online community, you’ll be first to receive email notifications about upcoming vodcasts, webinars and videos by guest speakers. Sign-up today for some inspiration, motivation and learning.</p>
              </div>
              <div class="col-lg-6 offset-lg-3">
                  <div class="card form-vertical padding-all-32px">
                      <div class="card--content-padding">
                          <div id="successMsgEv" class="alert alert-success" style="display: none;">
                              <p>Thanks for submitting.</p>
                              <p>You will now be redirected to Typeform to complete a survey.</p>
                          </div>
                          <div id="errorMsgEv" class="alert alert-danger" style="display: none;">
                              <p>Sorry, but something went wrong.</p>
                              <p>You will now be redirected to Typeform to complete a survey.</p>
                          </div>
                          <!-- Form -->
                          <form id="eventLeadForm" class="form">
                              <input type="hidden" name="_subject" value="Event Leads" />
                              <input type="hidden" name="_eventinterest" id="eventInterestEv" value="true" />
                              <div class="form-group">
                                  <input type="text" name="fullname" id="inputNameEv" class="form-control" required>
                                  <span class="bar"></span>
                                  <label>Name</label>
                              </div>
                              <div class="form-group">
                                  <input type="text" name="surname" id="inputSurnameEv" class="form-control" required>
                                  <span class="bar"></span>
                                  <label>Surname</label>
                              </div>
                              <div class="form-group">
                                  <input type="text" name="cell" id="inputCellphoneEv" class="form-control" required>
                                  <span class="bar"></span>
                                  <label>Cell phone number</label>
                              </div>
                              <div class="form-group">
                                  <input type="text" name="email" id="inputEmailEv" class="form-control" required>
                                  <span class="bar"></span>
                                  <label>Email address</label>
                              </div>
                              <div class="text-center">
                                  <button type="submit" class="btn btn--secondary btn--md">Submit</button>
                              </div>
                          </form>
                          <!-- end Form -->
                          <!-- Image loader -->
                          <div id='loaderEv' style='display: none;'>
                              <div id="outline">
                                  <div class="circle"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end Sec 6 -->

  <!-- Sec 7 -->
  <section class="container">

      <div class="section-padding">

          <div class="row">

              <div class="col-md-6 offset-md-3">
                  <div class="content">
                      <h2 class="text--xl">Our team</h2>
                      <p>Behind the scenes, we have a dedicated team of relationship consultants, actuaries, certified financial planners, tax and investment specialists.</p>
                      <p>Every member of our team is personally and emotionally invested in your success so we can help you navigate the twists and turns of your financial and life journey.</p>
                      <p>Backed by Momentum, a trusted financial services group, we bring a wealth of industry experience, products and solutions to the table to help you reach your financial goals.</p>
                  </div>
              </div>

          </div>

      </div>

      <div class="social-media-wrapper">
          <h2 class="text--xl">Join the conversation</h2>
          <div class="flex-grid">
              <div class="col-sml">
                  <a href="https://fb.me/MomentumVelocityClub" target="_blank" class="social-facebook">
                      <span class="uil uil-facebook"></span>
                  </a>
              </div>
              <div class="col-sml">
                  <a href="https://www.instagram.com/momentumvelocityclub/" target="_blank" class="social-instagram">
                      <span class="uil uil-instagram-alt"></span>
                  </a>
              </div>
              <div class="col-sml">
                  <a href="https://www.linkedin.com/company/velocity-club-by-momentum/" target="_blank" class="social-linkedin">
                      <span class="uil uil-linkedin"></span>
                  </a>
              </div>
          </div>

      </div>


  </section>
  <!-- end Sec 7 -->

</main>
<!-- end Main -->
