---
layout: default
title: Posts
permalink: /posts/
---

<!-- Banner / Masthead -->
<section class="posts-masthead">

    <div class="container">
        <div class="masthead--content">
            <div class="col-half">
                <div class="margin-bottom--xxl">
                    <h1 class="text--xxl">Posts</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mast-hero">
        <div class="media-holder" style="background:url('{{ site.baseurl }}/assets/images/hero-img-1.png')no-repeat;background-position:left;background-size: cover;height:100%;">
            <div class="media-container"></div>
        </div>
    </div>

    

</section>
<!-- end Banner / Masthead -->

<div class="container" style="margin-top:40px;">

    <div class="row" style="margin-bottom:56px">

        {% for post in site.posts %}
        <div class="col-sm-4">
            <div class="card">
                {% if post.feature_img_mobile %}<img src="{{ "/assets/images" | prepend: site.baseurl }}/{{ post.feature_img_mobile }}" alt="" class="card-img-top">{% endif %}
                {% if post.feature_img_url %}<img src="{{ post.feature_img_url }}" alt="" class="card-img-top">{% endif %}
                <div class="card-body">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="card-title" style="font-size:24px;">{{ post.title }}</h2></a>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>

</div>