<!-- Footer -->
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-10">
              <div class="content">
                  Velocity Club is offered by Momentum Metropolitan Life Limited, a registered financial services provider (Reg no: 1904/002186/06, FSP License no: 6406).
              </div>
          </div>
          <div class="col-lg-2 tcs">
              <div class="content">
                  <a href="https://www.momentum.co.za/momentum/support/terms-and-conditions" target="_blank">Terms and Conditions</a>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- end Footer -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/app.js"></script>