
<head>
  <meta charset="utf-8">
  <!-- <title>Financial planning for a new generation | Velocity Club by Momentum</title> -->
  <meta property="og:title" content="Velocity Club" />
  <meta property="og:url" content="https://www.velocityclub.co.za/" />
  <meta property="og:image" content="https://www.velocityclub.co.za/images/VelocityClub-logo.svg" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | Velocity Club by Momentum</title>

  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css">
  <link rel="stylesheet" href="{{ "/css/vendor/magnific-popup.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
