<!-- Header -->
<header id="global-nav">
  <div class="container">
      <div class="branding">
          <a href="{{ site.baseurl }}/">
              <!--<img class="brancing&#45;&#45;logo" src="images/velocity-logo.png" alt="Velocity Club logo">-->
              <picture>
                  <source srcset="{{ site.baseurl }}/assets/images/velocity-logo-m.png" media="(max-width: 991px)">
                  <img srcset="{{ site.baseurl }}/assets/images/velocity-logo.png" alt="Velocity Club logo">
              </picture>
          </a>
      </div>
  </div>
</header>
<!-- end Header -->