<div class="media-wrapper">
    <div class="media-wrapper__main">
        <div class="full-media aspect-ratio-box">
            <picture>
                {% if post.feature_img_mobile %}<source srcset="{{ "/assets/images" | prepend: site.baseurl }}/{{ post.feature_img_mobile | prepend: site.baseurl }}" media="(max-width: 991px)">{% endif %}
                {% if post.feature_img_desktop %}<img srcset="{{ "/assets/images" | prepend: site.baseurl }}/{{ post.feature_img_desktop }}" alt="" class="full-media__img">{% endif %}
                {% if post.feature_img_url %}<img srcset="{{ post.feature_img_url }}" alt="" class="full-media__img">{% endif %}
            </picture>
            {% if post.video_url %}
            <div class="trigger_icon">
                <a href="{{ post.video_url }}" class="popup-youtube">
                    <i class="uil uil-youtube"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="media-wrapper__col">
        <div class="col_1of2 card card__raised-body">
            <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="text--xl">{{ post.title }}</h2></a>
            <p class="meta outstanding">{% if post.venue %}{{post.venue | upcase}} | {% endif %}{{post.date | date: "%-d %b %Y"}} | {{post.duration}} minute video</p>
            <p class="text--lead">“{{post.pullquote}}”</p>
            <p>{{ post.content }}</p>
        </div>
    </div>
</div>

<div class="sec_divider"></div>