<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKPR4L4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

<svg class="hidden">
<symbol id="VelocityClub-logo" viewBox="0 0 178 83" xmlns="http://www.w3.org/2000/svg">
<defs>
<path id="aa" d="M0 .246h70.976V83H0z"/>
</defs>
<g fill="none" fill-rule="evenodd">
<mask id="ab" fill="#fff">
<use xlink:href="#aa"/>
</mask>
<path d="M69.222 4.64L70.976.396H59.004l-.08-.032-6.893 16.684-4.271 10.337-7.136 17.271-7.102-17.28a22.465 22.465 0 0 1 2.688-.703 22.917 22.917 0 0 1 4.414-.427c1.499 0 2.975.145 4.414.427l4.322-10.46a33.741 33.741 0 0 0-8.736-1.142 33.754 33.754 0 0 0-11.358 1.96l-2.807-6.794c-1.505-3.54-3.309-6.106-5.406-7.624C18.923 1.056 16.676.295 14.29.247c-2.401-.025-4.776.427-7.165 1.42C4.864 2.669 2.677 4.196.647 6.257c-.219.212-.434.429-.646.65L0 19.744s8.238-11.337 14.19-7.02c1.509 1.096 2.33 2.335 3.192 4.717l.402.973h-.01l1.692 4.095-.043.034a34.088 34.088 0 0 0-2.755 2.476A33.85 33.85 0 0 0 9.41 35.813a33.832 33.832 0 0 0-2.665 13.223c0 4.582.897 9.03 2.665 13.222a33.855 33.855 0 0 0 7.258 10.794 33.756 33.756 0 0 0 10.767 7.277A33.599 33.599 0 0 0 40.625 83c4.57 0 9.008-.899 13.188-2.671a33.742 33.742 0 0 0 10.767-7.277l-5.03-11.38A23.008 23.008 0 0 1 56.7 65.15c-4.294 4.305-10.003 6.676-16.075 6.676-6.072 0-11.78-2.37-16.074-6.676-4.294-4.304-6.659-10.027-6.659-16.114 0-4.73 1.428-9.237 4.077-13.032a22.978 22.978 0 0 1 1.995-2.471l.03-.03 11.482 27.891h10.298L61.29 23.84l.536-1.296L69.222 4.64z" fill="#323232" mask="url(#ab)"/>
<path d="M115.995 31.84a3.642 3.642 0 0 0-1.451-.292 4.418 4.418 0 0 0-1.585.355 5.81 5.81 0 0 0-1.62 1.009 2.452 2.452 0 0 0-.919-.996c-.4-.235-.88-.356-1.44-.368-1.051.028-2.068.423-3.061 1.207l-.224-.995h-1.915v9.035h2.274v-6.377c.3-.246.627-.448.998-.633.376-.18.757-.273 1.169-.28.537.015.885.193 1.06.547.168.35.246.783.229 1.306v5.437h2.284v-6.05c.005-.13 0-.231-.024-.327.298-.246.63-.448 1-.633a2.73 2.73 0 0 1 1.165-.28c.546.011.906.183 1.078.528.178.339.248.77.237 1.286v5.476h2.258v-6.122c-.012-.785-.148-1.41-.426-1.859-.28-.46-.634-.78-1.087-.975zm8.962-.292c-.853.022-1.583.233-2.2.653a4.064 4.064 0 0 0-1.394 1.708c-.327.705-.488 1.495-.488 2.37-.006.83.147 1.59.454 2.305a3.973 3.973 0 0 0 1.465 1.737c.651.44 1.503.665 2.548.678a5.874 5.874 0 0 0 1.657-.235 5.332 5.332 0 0 0 1.616-.756l-.56-1.47a5.142 5.142 0 0 1-1.138.465 4.346 4.346 0 0 1-1.199.166c-.708-.016-1.304-.228-1.766-.631-.472-.42-.726-.97-.761-1.647h5.795v-.666c-.013-1.434-.381-2.555-1.102-3.394-.716-.83-1.694-1.255-2.927-1.283zm-1.828 3.718a2.26 2.26 0 0 1 .476-1.375c.308-.385.745-.597 1.3-.619.581.022 1.01.237 1.283.637.28.395.426.845.44 1.357h-3.5zm16.063-3.404a2.912 2.912 0 0 0-1.345-.304 4.465 4.465 0 0 0-1.665.316 6.574 6.574 0 0 0-1.484.87l-.248-.981h-1.944v9.032h2.28V34.49a5.512 5.512 0 0 1 1.108-.69 2.927 2.927 0 0 1 1.176-.28c.56.026.931.241 1.095.64.183.396.252.838.23 1.335v5.3h2.284v-5.987c-.01-.801-.151-1.453-.43-1.926-.275-.473-.625-.822-1.057-1.02zm9.094 7.047c-.27.099-.547.16-.839.16-.583.01-.864-.33-.85-1.026v-4.55h2.121l.664-1.717h-2.785V29l-2.281.692v9.189c-.006.626.156 1.127.51 1.52.35.392.914.585 1.713.598.444 0 .949-.077 1.487-.235a5.137 5.137 0 0 0 1.53-.742l-.605-1.446a3.242 3.242 0 0 1-.665.333zm12.27-.596v-6.537h-2.272v6.662c-.188.188-.439.351-.733.503a2.178 2.178 0 0 1-1 .244c-.55-.007-.953-.169-1.218-.5-.259-.316-.397-.76-.397-1.335v-5.574h-2.276v5.703c.012.96.196 1.699.532 2.207.328.513.732.858 1.193 1.053.47.183.906.269 1.31.26.606-.005 1.128-.115 1.599-.327a4.07 4.07 0 0 0 1.156-.767l.408.902h1.875c-.08-.212-.124-.514-.142-.902a32 32 0 0 1-.035-1.592zm17.01-5.499c-.276-.46-.632-.78-1.087-.975a3.585 3.585 0 0 0-1.445-.291c-.502.01-1.025.126-1.584.355a5.92 5.92 0 0 0-1.63 1.009 2.36 2.36 0 0 0-.913-.996c-.397-.235-.872-.356-1.437-.368-1.045.028-2.066.423-3.059 1.207l-.228-.995h-1.915v9.035h2.271v-6.377c.303-.246.63-.448 1.002-.633.373-.18.753-.273 1.165-.28.538.015.896.193 1.064.547.172.35.237.783.227 1.306v5.437h2.28v-6.05c.011-.13 0-.231-.014-.327.289-.246.63-.448.992-.633.367-.18.76-.273 1.175-.28.543.011.9.183 1.067.528.182.339.253.77.243 1.286v5.476H178v-6.122c-.01-.785-.156-1.41-.434-1.859zM95.9 31.548c-1.323.036-2.385.457-3.199 1.283-.419.435-.74.954-.968 1.548a5.413 5.413 0 0 0-.34 1.957c0 .73.113 1.397.357 2.004.196.486.455.924.798 1.304.076.077.153.16.227.227.796.74 1.829 1.115 3.102 1.128 1.355-.022 2.443-.46 3.25-1.299.414-.424.737-.933.958-1.517.209-.59.313-1.232.313-1.925-.008-1.402-.405-2.531-1.195-3.402-.806-.85-1.917-1.277-3.303-1.308zm1.629 6.836c-.366.542-.897.822-1.618.84-.693-.009-1.241-.283-1.622-.82-.382-.52-.58-1.231-.58-2.126 0-.854.175-1.558.527-2.08.357-.54.9-.81 1.631-.826.7.016 1.241.281 1.622.8.378.522.573 1.224.573 2.106 0 .868-.182 1.569-.533 2.106zm-9.804-5.582a2.367 2.367 0 0 0-1.086-.974 3.637 3.637 0 0 0-1.455-.293 4.29 4.29 0 0 0-1.572.358c-.547.217-1.056.537-1.603.909-.28-.46-.63-.778-1.08-.974a3.676 3.676 0 0 0-1.457-.293c-.501.012-1.032.128-1.58.358-.54.217-1.051.537-1.602.909a2.242 2.242 0 0 0-1.085-.974 3.6 3.6 0 0 0-1.452-.293 4.418 4.418 0 0 0-1.576.358 7.07 7.07 0 0 0-1.177.63v1.873c.296-.24.625-.44.983-.622a2.696 2.696 0 0 1 1.17-.28c.546.01.895.183 1.074.527.176.34.248.77.239 1.286v5.476h2.254v-6.122c0-.092 0-.177-.006-.265.292-.237.623-.44.987-.622a2.71 2.71 0 0 1 1.162-.28c.55.01.909.183 1.082.527.17.34.253.77.231 1.286v5.476h2.264v-6.122c0-.092-.013-.177-.013-.265.292-.237.624-.44.988-.622a2.662 2.662 0 0 1 1.167-.28c.54.01.897.183 1.075.527.17.34.252.77.229 1.286v5.476h2.263v-6.122c-.008-.785-.148-1.409-.424-1.859z" fill="#323232"/>
</g>
</symbol>
</svg>

<!-- Add your site or application content here -->
  <section id="wrapper">
    {{ content }}
  </section>

  <!-- Progress Indicator -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>
  <!-- end Progress Indicator -->

  {% include footer.html %}

  </body>

</html>
