---
layout: default
permalink: /posts/:path/
title: video
---

<!-- Banner / Masthead -->
<section class="post-masthead">

    <div class="mast-hero">
        <div class="media-holder" style="background:url('{{ site.baseurl }}/assets/images/hero-img-1.png')no-repeat;background-position:left;background-size: cover;height:100%;">
            <div class="media-container"></div>
        </div>
    </div>
    <!-- Clipped Images -->
    <div class="mast-top">
        <div class="media-holder top-media" style="background:url('{{ site.baseurl }}/assets/images/man-hero-img.jpg')no-repeat;background-position: right bottom;background-size: cover;">
            <div class="media-container"></div>
        </div>
        <div class="media-holder top-media-ie" style="background:url('{{ site.baseurl }}/assets/images/man-hero-img.png')no-repeat;background-size: cover;">
            <div class="media-container"></div>
        </div>
    </div>
    <!-- <div class="mast-bottom">
        <div class="media-holder bottom-media" style="background:url('{{ site.baseurl }}/assets/images/marble texture-hero-img.jpg')no-repeat;background-position: center;background-size: cover;">
            <div class="media-container"></div>
        </div>
    </div> -->
    <!-- end Clipped Images -->

</section>
<!-- end Banner / Masthead -->


<section class="post-crumbs">
    <div class="container">
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/posts/">Posts</a></li>
                <li class="breadcrumb-item active"><a href="#">{{ page.title }}</a></li>
            </ol>
        </nav>
    </div>
</section>

<section class="pattern-two" id="single-post">
    <div class="container">        
        <div class="media-wrapper">
            <h1 class="text--xxl">
                {{ page.title }}
                <p class="meta outstanding">{% if page.venue %}{{ page.venue | upcase }} |{% endif %} {{page.date  | date: "%-d %b %Y"}} | {{page.duration}} minute video</p>
            </h1>
            <div class="media-wrapper__main">
                <div class="full-media aspect-ratio-box">
                    <picture>
                        {% if page.feature_img_mobile %}<source srcset="{{ "/assets/images" | prepend: site.baseurl }}/{{ page.feature_img_mobile | prepend: site.baseurl }}" media="(max-width: 991px)">{% endif %}
                            {% if page.feature_img_desktop %}<img srcset="{{ "/assets/images" | prepend: site.baseurl }}/{{ page.feature_img_desktop }}" alt="" class="full-media__img">{% endif %}
                            {% if page.feature_img_url %}<img srcset="{{ page.feature_img_url }}" alt="" class="full-media__img">{% endif %}
                    </picture>
                </div>
            </div>
            <div class="media-wrapper__col">
                <div class="col_1of2 card__raised-body">
                    <p class="text--lead">“{{page.pullquote}}”</p>
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>
        
        <div class="sec_divider"></div>
    </div>
</section>